<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
   </head>

   <body>
      <h1>Ceiling Fan Control</h1>
      <h2>The date and time on the server is: {{ time }}</h2>
<input type="button" name="lien1" value="Fan On"
 onclick="self.location.href='/fon'" style="background-color:#3cb371" 
style="color:white; font-weight:bold"onclick>

<input type="button" name="lien2" value="Fan Off"
 onclick="self.location.href='/foff'" style="background-color:#1ab171" 
style="color:white; font-weight:bold"onclick>

<input type="button" name="lien3" value="Light On"
 onclick="self.location.href='/lon'" style="background-color:#3cb371"
style="color:white; font-weight:bold"onclick>

<input type="button" name="lien4" value="Light Off"
 onclick="self.location.href='/loff'" style="background-color:#1ab171"
style="color:white; font-weight:bold"onclick>

   </body>
</html>
